body {
    background-color: rgb(255, 255, 255);
  }

  div.header{
    background-color: lightcoral;
  }

  div.middle{
    background-color: rgb(32, 148, 103);
  }

  div.footer{
    background-color: rgb(197, 201, 9);
  }

  div.middle p{font-style: oblique; background-color: aqua;
}