body {
    background-color: rgb(255, 255, 255);
  }

  div.header{
    background-color: lightcoral;
  }

  div.middler{
    background-color: rgb(32, 148, 103);
  }

  div.footer{
    background-color: rgb(197, 201, 9);
  }